<div style="text-align:center">
    <form #custForm="ngForm" (ngSubmit)="searchEmployee()">
      <table class="center">
        <tr>
          <td><div class="form-control"><label>Employee Id</label></div></td>
          <td>
            <div>
               <input name="emp" [(ngModel)]="emp" type="number" class="form-control"/>
            </div>
          </td>
        </tr>
        <tr>
          <button type="submit" class="btn btn-primary">Find</button>
        </tr>
      </table>
    </form>
</div>
<div *ngIf="flag">
  <table class="table table-dark">
      <td>{{employee.empId}}</td>
      <td>{{employee.empName}}</td>
      <td>{{employee.empPAN}}</td>
      <td>{{employee.empDesg}}</td>
      <td>{{employee.empDomain}}</td>
      <td>{{employee.empDOJ}}</td>
      <td>{{employee.empDOB}}</td>
      <td>{{employee.empSal}}</td>
      <td>{{employee.empMail}}</td>
      <td>{{employee.empPassword}}</td>
  </table>
  <button class="btn btn-primary" (click)="searchProject()">Search Project</button>
</div>